  <app-user></app-user>

  <h1 style="margin-left: 45px">All user details</h1>

  <div *ngFor="let item of apiData" style="padding: 20px">

    <mat-card class="example-card box">
      <mat-card-header>
        <mat-card-title>{{item.first_name}}</mat-card-title>
        <mat-card-title>{{item.last_name}}</mat-card-title>
        <mat-card-title>{{item.email}}</mat-card-title>
      </mat-card-header>
      <div>
        <button class="btn btn-primary m-2" (click)="editUser(item)">Edit</button>
        <button class="btn btn-danger m-2" (click)="deleteUser(item)">Delete</button>
      </div>
    </mat-card>
  </div>


